<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Faculty Information Portal</h1>
    <p class="lead">Login/Signup here!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/signUp" role="button">SignUp</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
  <br><br><br>

  <div class=container>
    <h2>Departments</h2>
    <a class="btn btn-light btn-lg" href="/Computer Science"><h3>Computer Science</h3></a>
    <a class="btn btn-light btn-lg" href="/Electrical"><h3>Electrical</h3></a>
    <a class="btn btn-light btn-lg" href="/Mechanical"><h3>Mechanical</h3></a>
    <a class="btn btn-light btn-lg" href="/Civil"><h3>Civil</h3></a>
  </div>
</div>

<%- include('partials/footer') %>
